@import './../../../../styles/global.scss';

[data-story] {
    #end-container {

        display: flex;
        text-align: center;
        justify-content: flex-end;
        &.end-slide-hidden {
            display: none;
        }
    }
}