@import './../../../../styles/global.scss';

[data-story] {
    #end-container {
        color: #fff;
        display: flex;
        text-align: center;
        justify-content: flex-end;
        &.end-slide-hidden {
            display: none;
        }
        .year-button {
            font-size: 20px;
            background: #eaceda;
            color: #333;
            border: none;
            padding: 15px 5px;
            display: block;
            margin-bottom: 20px;
        }
        #end-more-link {
            color: #fff;
        }

    }
}