@import './../../../../styles/global.scss';

#hold-label {
    width: 80px;
    height: 80px;
    background: black;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    color: white;
    text-transform: uppercase;
    border-radius: 100%;
    font-size: 10px;
    font-family: gibsonRegular;
    text-align: center;
    padding: 26px 4px 0;
    box-sizing: border-box;
    transition: top 0.3s, left 0.3s, transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1), color 0.3s, opacity 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1);
    transform-origin: center center;
    &.active.pressed {

        color: #000;
    }
    &.active {
        opacity: 1;

    }
}
.cursor-free .navigation-button {
    cursor: none;
}