@import './../../../../styles/global.scss';



[data-story] {
    #story-selector-wrapper {
        padding-top: 50px;
        &.hidden {
            display: none;
        }
        input {
            font-size: 36px;
            text-align: center;
            width: 40px;
            margin: 5px;
            outline: none;
            border: none;
            background: #eee;
            font-family: Publik;
            font-weight: 100;
            line-height: 1;
            caret-color: black;
        }
        input:focus {
            background: #fff;

        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

}

// https://jsfiddle.net/2fmqgbh6/1