@import './../../../../styles/global.scss';

[data-story] #frontpage-container {

    display: flex;
    text-align: center;
    justify-content: flex-end;
    &.frontpage-hidden {
        display: none;
    }
    h1 {
        margin: 0 auto;
    }
}